.App {
  text-align: center;
}

/* Footer pusher */
.app-wrapper{
  display: flex;
  min-height: 80vh; /* Controversial pero en este caso useful, 100vh no le va tan bien a la pagina individual de la lana*/
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
}
/* Footer pusher */

body {



  background-color: #f9f8fd

  
}

@font-face {
  font-family: peachy;
  src: url('./fonts/PeachesForBreakfast-Regular.otf');
}

@font-face {
  font-family: titleFont;
  src: url('./fonts/ScrapItUp.ttf');
}