.App {
  text-align: center;
}

/* Footer pusher */
.app-wrapper{
  display: flex;
  min-height: 80vh; /* Controversial pero en este caso useful, 100vh no le va tan bien a la pagina individual de la lana*/
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
}
/* Footer pusher */