
#footer-div {

    min-height: 300px;
    background-color: #513e5c;
    display:  flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;


}

.footer-content-div {
    display:  flex;
    flex-flow: row wrap;
    justify-content: center;
  
    margin: 30px 0px
    
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    
    background-color: rgba(0,0,0, 0.3);
   
}

.footer-column h3 { 
    color: white;
    font-size: 22px;
    width: 100%;
    text-align: center; 
    font-family: Helvetica;
}

.footer-column div {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Helvetica;
}

.footer-column div:first-of-type {
    margin-top: 0px 

}


.footer-column div p, .footer-column div p a{ 
    font-size: 20px;
    color:white;
}

.footer-column div svg {
    font-size: 30px;
    color: white;
}

.footer-column div p {
    width: 280px;
    margin: 0px;
    margin-left: 10px;
}

.footer-column:nth-of-type(1) {
    border-radius: 20px 0px 0px 20px;
    width: 350px;
}
.footer-column:nth-of-type(2) {
    border-radius: 0px 20px 20px 0px;
    width: 500px;
}

.footer-column div {
    display: flex;
    justify-content: center;
}

.conditional-p {
    display: none !important;
}

.third-column {
    justify-items: flex-start !important;
}


/* Cuando serian solo 2 blocs, dejar horario y contacto juntos, y then abajo el mapa en grande del tamaño de both*/


@media screen and (max-width: 900px) { 

    .footer-content-div {
        flex-flow: column wrap !important ;
    }

    .footer-column {
        border-radius: 20px !important;
        width: 550px !important;
    }
    
    .footer-column p {
        margin-top: 0px
    }


    
    

}

@media screen and (max-width: 650px) {  


  

    .footer-content-div {
        width:  100%;      
    }

    .footer-column {
        border-radius: 20px !important;
        width: 95% !important;
        margin-left: 2.5%;
        margin-right: 2.5%;
     }

    
}

