.novedades-div {
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-flow : column nowrap;
    align-content: center;
    align-items: center;
    font-family: Helvetica;


}

.novedades-div h3 {

    color: #a8296b;;
    font-size: 55px;
    margin-bottom: 30px ;
    font-family: titleFont ;

}


.novedades-cards-div {

    width: 80%;
    margin-left: 10%;   
    margin-right: 10%;

}


@media screen and (max-width: 650px) {   

    .novedades-cards-div {

        width: 95%;
        margin-left: 2.5%;   
        margin-right: 2.5%
    }

}